<script setup lang="ts">
import { ref } from "vue";
import ToolBar from "@/components/ToolBar.vue";
import Footer from "@/components/Footer_1.vue";

const num = ref(-1);
const size = ref(100);
const showTableInfo = ref([
  {
    "ชื่อ-นามสกุล": "เกวลิน มาโชติ",
    ชื่อเล่น: "เกว",
    เกิด: "7 กันยายน 2544",
    อายุ: "21 ปี",
    สถานที่ศึกษาปัจจุบัน: "มหาวิทยาลัยบูรพา",
  },
]);
function showInfo(select: number) {
  if (select != -1 && select != num.value) {
    num.value = select;
    size.value = 250;
  } else {
    num.value = -1;
    size.value = 400;
  }
  console.log(showTableInfo.value.length);
}
</script>

<template>
  <container>
    <ToolBar></ToolBar>
    <h1 id="nameProfile">PORTFOLIO</h1>
    <br />

    <v-row>
      <v-col align="center">
        <v-avatar
          :size="size"
          color="black"
          radius="10px"
          style="border: solid red 4px"
        >
          <v-img src=".\img\extra.JPG" alt="" cover />
        </v-avatar>
        <br />
        <br />
        <br />

        <v-btn color="red" dark @click="showInfo(0)"> ประวัติส่วนตัว </v-btn>
        &nbsp;
        <v-btn color="red" dark @click="showInfo(1)"> ประวัติการศึกษา </v-btn>
        &nbsp;
        <v-btn color="red" dark @click="showInfo(2)"> สิ่งที่สนใจ </v-btn>
      </v-col>
    </v-row>
    <br /><br />
    <v-row justify="center">
      <v-col cols="5">
        <section v-if="num > -1">
          <v-table style="border: solid red 4px">
            <tbody>
              <tr v-for="(item, index) of showTableInfo[num]" :key="index">
                <td style="text-align: center; font-size: 15px">
                  {{ index }}: {{ item }}
                </td>
              </tr>
            </tbody>
          </v-table>
        </section>
      </v-col>
    </v-row>
    <Footer v-if="num === -1"></Footer>
  </container>
</template>

<style>
#nameProfile {
  text-align: center;
  font-family: "cursive", Arial, sans-serif;
  font-size: 100px;
  color: rgb(250, 2, 2);
}

body {
  background-color: rgb(255, 193, 193);
}

html {
  overflow-y: hidden;
}
</style>
